.age-calculator{
    background-color: azure;
    border: 2px solid black;
    width: 280px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#youage{
        right: 59px;
        margin-top: 14px;
        position: relative;
}
.age-calculator button{
    margin-top: 40px;
   width: 100px;
   padding: 10px;
}